* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: Helvetica, sans-serif;
  padding: 5%;
}

hr {
  width: 50%;
  text-align: center;
  margin: 3em auto;
  border: 1px solid #999;
}

.todo {
  display: none;
}

main > .page:not(:first-child) {
  margin-top: 8em;
  padding: 2.5em 0;
}

a.contact {
  font-size: 1.5em;
  color: #09f;
  font-weight: bold;
  text-decoration: none;
  display: block;
  margin: .5em 0;
}

body > header {
  width: 100%;
  max-width: 400px;
  position: fixed;
  height: 100%;
}

body > header > h1 {
  display: inline-block;
  width: 155px;
  margin: 0;
  font-weight: normal;
  font-family: serif;
  font-size: 5em;
  line-height: 0.7em;
}
body > header > h1 > span {
  display: block;
}
body > header > h1 > span:nth-child(2) {
  text-align: right;
}
body > header > nav {
  display: inline-block;
  width: 40%;
  margin-left: 10%;
  font-size: 1.2em;
  vertical-align: top;
}
body > header > nav > a {
  display: block;
  text-decoration: none;
  color: inherit;
}
body > header > section {
  position: absolute;
  bottom: 4em;
  left: 0;
}
body > header > section > h2 {
  margin: 1em 0 .5em 0;
}
body > header > section > p {
  font-size: .9em;
  font-style: italic;
}

main {
  height: 1000px;
  width: calc(95% - 400px);
  margin-left: calc(5% + 400px);
  font-size: 18px;
}

main h2 {
  font-size: 1.2em;
}
main p {
  font-size: 1em;
}

picture {
  display: inline-block;
}
